<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/weblayout}"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title >Đăng nhập</title>
    <link th:href="@{/assets/css/login.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body layout:fragment="content">


        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">login-register</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cont pt-1 mt-2 offset-3">
            <div class="form sign-in">
                <h2>Sign In</h2>
                <form class="form-horizontal" th:action="@{/login-check}" method="post">
                        <label class="lb">
                            <span>Email Address</span>
                            <input type="email" name="username" id="username" placeholder="Nhập email">
                        </label>
                        <label class="lb">
                            <span>Password</span>
                            <input type="password" name="password" id="userpassword" placeholder="Nhập mật khẩu">
                        </label>
                        <button class="submit" id="btnLogin" type="button">Đăng nhập</button>
                </form>
                <p class="forgot-pass">Forgot Password ?</p>
            </div>

            <div class="sub-cont">
                <div class="img">
                    <div class="img-text m-up">
                        <h2>Sign up here?</h2>
                        <p class="forgot-pass">Sign up and discover great amount of new opportunities!</p>
                    </div>
                    <div class="img-text m-in">
                        <h2>One of us?</h2>
                        <p class="forgot-pass">If you already has an account, just sign in. We've missed you!</p>
                    </div>
                    <div class="img-btn">
                        <span class="m-up">Sign Up</span>
                        <span class="m-in">Sign In</span>
                    </div>
                </div>

                <div class="form sign-up">
                    <h2>Sign Up</h2>
                    <label class="lb">
                        <span>Name</span>
                        <input type="text" >
                    </label>
                    <label class="lb">
                        <span>Email</span>
                        <input type="email" >
                    </label>
                    <label class="lb">
                        <span>Password</span>
                        <input type="password" >
                    </label>
                    <label class="lb">
                        <span>Confirm Password</span>
                        <input type="password" >
                    </label>
                    <button type="button" class="submit">Sign Up Now</button>
                </div>
            </div>
        </div>
    <script th:src="@{/assets/js/vendor/script.js}"></script>
        <script layout:fragment="script">
            function validate() {
                const patternEmail = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
                const email = $('#username');

                // Email
                if (!patternEmail.test(email.val())) {
                    Swal.fire(
                        'Email không hợp lệ!',
                        'error'
                    )
                    return false;
                }
                return true;
            }
            $('#btnLogin').click(function (){
                if (validate()) {
                    // Save data to cookie if checked

                    checkCountLoginFalse();
                }
            });

            function checkCountLoginFalse(){
                const message = $('#message');
                const email = $('#username').val();

                $.ajax({
                    url: `/api/count_login_false?email=${email}`,
                    type: 'GET',
                    success: function (data) {
                        $('form').submit();
                    },
                    error: function (data) {
                        console.log(data)
                    }
                });
            }
        </script>
</body>


</html>